<div class="main_section">
  <div class="container">
    <div class="chat_container row">
      <div class="col-sm-3 chat_sidebar">
        <div class="row">
          <div class="member_list">
            <ul class="list-unstyled">
              <li *ngFor="let chat of chats" class="left clearfix">
                <span class="chat-img pull-left">
                          <div class="img-circle">J</div>
                          </span>
                <div class="chat-body clearfix">
                  <div class="header_sec">
                    <strong class="primary-font">{{chat.UserName}}</strong>
                  </div>
                  <div class="contact_sec">
                    <span class="primary-font">{{chat.EMail}}</span>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-9 message_section">
        <div class="row">
          <div class="new_message_head">
            <div class="pull-left recipient-name"><strong>Jack Sparrow</strong></div>
            <div class="pull-right recipient-mail">mail@mail.com</div>
          </div>
          <div class="chat_area">
            <ul class="list-unstyled">
                <li *ngFor="let message of messages" class="left clearfix" [ngClass]="message.UserName == currentUser.userName ? 'owner_message' : 'guest_message'">
                    <span class="chat-img1" [ngClass]="message.UserName == currentUser.userName ? 'pull-right' : 'pull-left'">
                       <div class="img-circle">J</div>
                       </span>
                    <div class="chat-body1 clearfix">
                      <p>{{message.Text}}
                      </p>
                      <div class="chat_time"  [ngClass]="message.UserName == currentUser.userName ? 'pull-right' : 'pull-left'">{{formatDate(message.SentDate)}}</div>
                    </div>
                  </li>
            </ul>
          </div>
          <div class="message_write">
            <textarea class="form-control" placeholder="Type a message" style="margin-top: 0px; margin-bottom: 0px; height: 76px; resize: none;"></textarea>
            <div class="clearfix"></div>
            <div class="chat_bottom">
              <button class="pull-right btn btn-success send-button">Send</button></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
