<div class="row">
  <div class="col-lg-8 col-md-7">
    <h1 class="text-center">Posturer</h1>
    <div class="text-center">
      <img src="img/posturer-logo-512.png" class="img-fluid" alt="Posturer" />
    </div>
    <h1 class="text-center">{{title}}</h1>
  </div>
  <div class="col-lg-4 col-md-5">
    <div id="signin-form">
      <h3 class="text-center">Sign In</h3>
      <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="example@site.com">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
          <small id="emailHelp" class="form-text text-muted"></small>
        </div>
        <button type="submit" class="btn btn-success btn-lg btn-block">Sign In</button>
      </form>
    </div>
    <br />
    <div id="signup-form">
      <h3 class="text-center">Sign Up</h3>
      <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="example@site.com">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
          <small id="emailHelp" class="form-text text-muted"></small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Confirm Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
          <small id="emailHelp" class="form-text text-muted"></small>
        </div>
        <button type="submit" class="btn btn-primary btn-lg btn-block">Sign Up</button>
      </form>
    </div>
  </div>
</div>
