<div class="main_section">
  <div class="container">
    <div class="chat_container row">
      <div class="col-sm-3 chat_sidebar">
        <div class="row">
          <div class="member_list">
            <ul class="list-unstyled">
              <li class="left clearfix selected-chat">
                <span class="chat-img pull-left">
                          <div class="img-circle">J</div>
                          </span>
                <div class="chat-body clearfix">
                  <div class="header_sec">
                    <strong class="primary-font">Jack Sparrow</strong>
                  </div>
                  <div class="contact_sec">
                    <span class="primary-font">mail@mail.com</span>
                  </div>
                </div>
              </li>
              <li class="left clearfix">
                <span class="chat-img pull-left">
                          <div class="img-circle">J</div>
                          </span>
                <div class="chat-body clearfix">
                  <div class="header_sec">
                    <strong class="primary-font">Jack Sparrow</strong>
                  </div>
                  <div class="contact_sec">
                    <span class="primary-font">mail@mail.com</span>
                  </div>
                </div>
              </li>
              <li class="left clearfix">
                <span class="chat-img pull-left">
                          <div class="img-circle">J</div>
                          </span>
                <div class="chat-body clearfix">
                  <div class="header_sec">
                    <strong class="primary-font">Jack Sparrow</strong>
                  </div>
                  <div class="contact_sec">
                    <span class="primary-font">mail@mail.com</span>
                  </div>
                </div>
              </li>
              <li class="left clearfix">
                <span class="chat-img pull-left">
                          <div class="img-circle">J</div>
                          </span>
                <div class="chat-body clearfix">
                  <div class="header_sec">
                    <strong class="primary-font">Jack Sparrow</strong>
                  </div>
                  <div class="contact_sec">
                    <span class="primary-font">mail@mail.com</span>
                  </div>
                </div>
              </li>
              <li class="left clearfix">
                <span class="chat-img pull-left">
                          <div class="img-circle">J</div>
                          </span>
                <div class="chat-body clearfix">
                  <div class="header_sec">
                    <strong class="primary-font">Jack Sparrow</strong>
                  </div>
                  <div class="contact_sec">
                    <span class="primary-font">mail@mail.com</span>
                  </div>
                </div>
              </li>
              <li class="left clearfix">
                <span class="chat-img pull-left">
                          <div class="img-circle">J</div>
                          </span>
                <div class="chat-body clearfix">
                  <div class="header_sec">
                    <strong class="primary-font">Jack Sparrow</strong>
                  </div>
                  <div class="contact_sec">
                    <span class="primary-font">mail@mail.com</span>
                  </div>
                </div>
              </li>
              <li class="left clearfix">
                <span class="chat-img pull-left">
                          <div class="img-circle">J</div>
                          </span>
                <div class="chat-body clearfix">
                  <div class="header_sec">
                    <strong class="primary-font">Jack Sparrow</strong>
                  </div>
                  <div class="contact_sec">
                    <span class="primary-font">mail@mail.com</span>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-9 message_section">
        <div class="row">
          <div class="new_message_head">
            <div class="pull-left recipient-name"><strong>Jack Sparrow</strong></div>
            <div class="pull-right recipient-mail">mail@mail.com</div>
          </div>
          <div class="chat_area">
            <ul class="list-unstyled">
              <li class="left clearfix guest_message">
                <span class="chat-img1 pull-left">
                   <div class="img-circle">J</div>
                   </span>
                <div class="chat-body1 clearfix">
                  <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.
                  </p>
                  <div class="chat_time pull-left">09:40PM</div>
                </div>
              </li>
              <li class="left clearfix guest_message">
                <span class="chat-img1 pull-left">
                   <div class="img-circle">J</div>
                   </span>
                <div class="chat-body1 clearfix">
                  <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.
                  </p>
                  <div class="chat_time pull-left">09:40PM</div>
                </div>
              </li>
              <li class="left clearfix guest_message">
                <span class="chat-img1 pull-left">
                   <div class="img-circle">J</div>
                   </span>
                <div class="chat-body1 clearfix">
                  <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.
                  </p>
                  <div class="chat_time pull-left">09:40PM</div>
                </div>
              </li>
              <li class="left clearfix owner_message">
                <span class="chat-img1 pull-right">
                   <div class="img-circle">J</div>
                   </span>
                <div class="chat-body1 clearfix">
                  <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.
                  </p>
                  <div class="chat_time pull-right">09:40PM</div>
                </div>
              </li>
              <li class="left clearfix owner_message">
                <span class="chat-img1 pull-right">
                   <div class="img-circle">J</div>
                   </span>
                <div class="chat-body1 clearfix">
                  <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.
                  </p>
                  <div class="chat_time pull-right">09:40PM</div>
                </div>
              </li>
            </ul>
          </div>
          <div class="message_write">
            <textarea class="form-control" placeholder="Type a message" style="margin-top: 0px; margin-bottom: 0px; height: 76px; resize: none;"></textarea>
            <div class="clearfix"></div>
            <div class="chat_bottom">
              <a href="#" class="pull-right btn btn-success send-button">Send</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
