<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" routerLink="#">Posturer</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <ul class="navbar-nav mr-auto">
      <li [ngClass]="getClass('/exercises')">
        <a class="nav-link" routerLink="/exercises">Exercises</a>
      </li>
      <li *ngIf="currentUser" [ngClass]="getClass('/chats')">
        <a class="nav-link" routerLink="/chats">Chats</a>
      </li>
      <li *ngIf="currentUser" [ngClass]="getClass('/training-program')">
        <a class="nav-link" routerLink="/training-program">Training Program</a>
      </li>
      <li *ngIf="currentUser" [ngClass]="getClass('/posture-level')">
        <a class="nav-link" routerLink="/posture-level">Posture Level</a>
      </li>
    </ul>
    <span *ngIf="currentUser" class="navbar-text">
      Hello, {{currentUser.UserName}}
    </span>
    <ul *ngIf="currentUser" class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="#" (click)="logout()">Sign out</a>
      </li>
    </ul>
  </div>
</nav>
<br />